.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;

}

.movie-item {
  display: flex;
  margin-bottom: 20px;
  background-color: lightgray;
  border: solid black;
}

.image-container {
  flex: 0 0 auto;
  padding: 10px;
  margin: 10px;
}

.image-container img {
  max-height: 300px;
  width: auto;
  cursor: pointer;
}

.details-container {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.clickable {
  cursor: pointer;
}
