<div class="main">
  <h3>Movies Application</h3>
  <br>
  <h5> The Movies Application is a simple web application that allows users to search and browse movies.
    The project utilizes the Java Spring Boot framework on the backend and Angular framework on the frontend,
    and uses the TMDB API to fetch and display movie data.</h5>
  <br>
  <h4>Purpose</h4>
  <h5>The purpose of this project is to provide a user-friendly interface for users to discover and explore movies. It
    aims to showcase the integration of Spring Boot for backend services and Angular for frontend development in a
    modern web application.</h5>
  <br>
  <h4>Features</h4>
  <h5> Browse: Users can browse through a list of movies and view details such as title, overview, release date,
    and language.</h5>
  <h5> Reviews: Users can read and write reviews for movies.</h5>
</div>
